.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
body {
  padding-top: 5rem;
}
h1 {
  color: var(--blue);
}

.bd-navbar {
  min-height: 4rem;
  background-color: var(--cyan);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05),
    inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.callout {
  position: relative;
  padding: 0 1rem;
  margin: 1rem 0;
  border-left: 4px solid #c8ced3;
  border-radius: 0.25rem;
}
.callout-info {
  border-left-color: #63c2de;
}

.callout-warning {
  border-left-color: #ffc107;
}
.callout-success {
  border-left-color: #4dbd74;
}
.callout-danger {
  border-left-color: red;
}
.callout .chart-wrapper {
  position: absolute;
  top: 10px;
  left: 50%;
  float: right;
  width: 50%;
}
.progress-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-bottom: 1rem;
}
.progress-group-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 0.25rem;
}
.progress-group-header + .progress-group-bars {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}
.progress-group-icon {
  margin: 0 1rem 0 0.25rem;
  font-size: 1.09375rem;
}
